<%- include('partials/header') %> 
<section class="buy">
    <%- include('partials/property-filter') %> 

<%- include('partials/listings') %> 

<%- include('partials/new-listings') %> 
</section>



<section class="general-info">

  <div class="general-info-container">
      <div class="about-us">
        <h3>There are 1213 properties yet to be viewed</h3>
        <p>please add some filters above to see more enlisted properties such as:</p>
    
        <a href="">Flats</a>
        <a href="">Just houses</a>
      </div>
      <div class="popular-searches">
        <h3>First time buyers</h3>
  
        <a href="http://">Guide to purchase</a>
        <a href="http://">Legal assistance</a>
        <a href="http://">Moving poperties</a>
        
      </div>
      <div class="support">
        <h3>Aid for buyers</h3>
  
        <a href="http://">Mortgaging</a>
        <a href="http://">Merits of Blanks</a>
        <a href="http://">Register with Blanks</a>
        
      </div>
    </div>
</section>
<%- include('partials/footer') %> 




