<%- include('partials/header') %> 
<section class="buy">
    <%- include('partials/property-filter') %> 

<%- include('partials/listings') %> 

<%- include('partials/new-listings') %> 
</section>


<div class="buy-support">

    <div class="additional-info">
        <h3 class="total-properties">There are 1213 properties yet to be viewed</h3>
      
        <p>please add some filters above to see more enlisted properties such as:</p>
      
        <div class="supplementary-fiters">
          <a href="">Flats</a>
          <a href="">Just houses</a>
        </div>
      
        <h3 class="purchase-support">
          Furthermore, we offer guidelines for first time purchases.
        </h3>
        <a href="">
            Purchase guide
        </a>
        <a href="">Help with purchase</a>
        <a href="">Advantages of choosing Blank</a>
        <a href="">Advice on Mortgaging</a>
      </div>
    </div>


<%- include('partials/footer') %> 




