<%- include('partials/header') %> 
<section class="sell">
    <%- include('partials/property-filter') %> 

    <%- include('partials/listings') %> 
    
    <%- include('partials/new-listings') %> 
    
</section>

<section class="sell-support">

    <div class="additional-info">
        <h3 class="total-properties">There are 1213 properties yet to be viewed</h3>
      
        <p>please add some filters above to see more enlisted properties such as:</p>
      
        <div class="supplementary-fiters">
          <a href="">Flats</a>
          <a href="">Just houses</a>
        </div>
      
        <h3 class="purchase-support">
         Our services
        </h3>
        <a href="">
            Sell your home
        </a>
        <a href="">Help with sales</a>
        <a href="">Contact us</a>
        <a href=""></a>
      </div>
</section>


<%- include('partials/footer') %> 